<template>

    <require from="../wish/wish"></require>

    <div class="title"
         textcontent.two-way="wishlist.title"
         contenteditable.bind="canEdit"></div>

    <ol class="wishes">
        <li repeat.for="wish of wishes">
            <wish wish.bind="wish"
                  can-edit.bind="canEdit"
                  on-delete.call="deleteWish(wish)"></wish>
        </li>
        <li show.bind="canEdit">
            <button class="btn btn-block btn-lg"
                    click.delegate="addWish()">
                New Wish
            </button>
        </li>
    </ol>

</template>
