<template class="${ canReserve && wish.isReserved ? 'reserved' : '' }">

    <img if.bind="wish.imgSrc"
         src.bind="wish.imgSrc"
         alt="Picture of ${ wish.title }" />

    <div class="title"
         textcontent.two-way="wish.title"
         contenteditable.bind="isEditing"></div>

    <p class="description"
       textcontent.two-way="wish.description"
       contenteditable.bind="isEditing"></p>

    <div class="actions">
        <div show.bind="canEdit">
            <button click.trigger="edit()">
                ${ isEditing ? 'Ok' : 'Edit' }
            </button>
            <button show.bind="isEditing"
                    click.trigger="delete()">
                Delete
            </button>
        </div>
        <div show.bind="canReserve">
            <button hide.bind="wish.isReserved"
                    click.delegate="reserve()">
                Reserve
            </button>
        </div>
    </div>

    <p class="status"
       show.bind="canReserve && wish.isReserved">
        Reserved
    </p>

</template>
